---
pageable: true
---

- content_for :head do
  %link(href="/blog/feed.xml" rel="alternate" title="Atom feed" type="application/atom+xml")

- if defined? page_number && page_number < 2

  -# First-page only stuff here
  -# (If a blog is included below, then it may paginate)
  
#about

  Blivet is a free & open source python module for configuring system storage
  on Linux. It provides powerful modeling capabilities along with a simple,
  seamless interface for managing all of your favorite storage technologies.
  = succeed '.' do
    = link_to "Learn more", "/about.html"

%h2 Features

%ul
  %li Modeling of changes before committing to disk
  %li Easy configuration of complex device stacks using a top-down specification
  %li Powerful disk partitioning functionality

%h2 Supported Storage Technologies
  
#tech

  %ul
    %li LVM
    %li MD
    %li LUKS
  %ul
    %li XFS
    %li EXT4
    %li BTRFS
  %ul
    %li Firmware RAID
    %li SAN
    %li Mainframe

    
#featuring

  .feature.python
    = link_to "http://python.org", :class=>"logo" do
      = image_tag "/images/logo-python.png"
    
  .feature.lgpl
    = link_to "https://www.gnu.org/licenses/lgpl-2.1.html", :class=>"logo" do
      = image_tag "/images/logo-lgpl.png"
    
  .feature.fedora
    = link_to "http://fedoraproject.org", :class=>"logo" do
      = image_tag "/images/logo-fedora.png"

